.header .section {
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  width: 100%;
  margin: auto;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
}
.header .section h1 {
  font-size: 60px;
  font-weight: bold;
}

/* ===== Below Header Section */
.below-header img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  border: 2px solid gray;
}
.below-header img:hover {
  box-shadow: 0 0 50px #807e7e;
  transition: 1.5s;
}
.below-header .info {
  margin-bottom: 20px;
  text-align: justify;
}
