* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table-container {
  overflow-x: auto;
  margin-top: 60px;
  }

table {
  /* margin: 100px auto 0 auto; */
  border-collapse: collapse;
  /* table-layout: fixed; */
  /* white-space: nowrap; */
}
tr th {
  font-size: small;
  color: teal;
  font-weight: 600;
}

table th {
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding-bottom: 12px;
}

table tr td input {
  width: 40px;
}

td {
  text-align: center;
  padding: 12px 36px 12px 36px;
  font-size: 12px;
  color: gray;
  font-weight: 600;
}
.fa-trash {
  color: orangered;
  font-size: 20px;
}

img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
table td button {
  border: none;
  padding: 4px 16px 5px 16px;
  border-radius: 4px;
  background-color: red;
  color: wheat;
}
/* --------------Form---- */
.form-container {
  width: 300px;
  /* margin: auto; */
  margin-top: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #7ac9d1;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7ac9d1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #5aa9b5;
}
