* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  display: flex;
  margin: 100px 0 0 0;
  justify-content: space-evenly;
}

.table-container {
  padding-top: 12px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  /* height: 300px; */
  overflow: auto;
}

table {
  border-collapse: collapse;
}
tr th {
  font-size: small;
  color: teal;
  font-weight: 600;
}

table th {
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding-bottom: 12px;
}

table tr td input {
  width: 40px;
}

td {
  text-align: center;
  padding: 12px 36px 12px 36px;
  font-size: 12px;
  color: gray;
  font-weight: 600;
}
.fa-trash {
  color: orangered;
  font-size: 20px;
}

img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
table td button {
  border: none;
  padding: 4px 16px 5px 16px;
  border-radius: 4px;
  background-color: red;
  color: wheat;
}
/* ----------------- */
.grandPrice span {
  display: flex;
  align-items: center;
  color: teal;
  margin: 28px 0 28px 28px;

  font-weight: 600;
}
.grandPrice span p {
  margin-left: 12px;
  color: black;
}
.confirmOrder {
  border: none;
  padding: 8px 16px 8px 16px;
  background-color: teal;
  color: white;
  border-radius: 4px;
  margin: 0 0 24px 24px;
}
.confirmOrder:hover {
  background-color: #5aa9b5;
  cursor: pointer;
}
/* --------------Form---- */
.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding-right: 20px;
}
.form-group input,
textarea {
  margin-top: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #7ac9d1;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: teal;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #5aa9b5;
}
/* -------Media Query--- */

@media only screen and (max-width: 980px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .table-container {
    width: auto;
    margin: 0 auto 50px auto;
  }
  .form-container {
    width: auto;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 620px) {
  .table-container {
    margin: 0 10px 50px 10px;
  }
  .form-container {
    margin-bottom: 50px;
  }
}
