
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  right: inherit;
  width: 100%;
  min-width: fit-content;
  height: auto;
  margin-left: 0px;
  /* overflow-x: hidden; */

}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
}

.nav-item {
  font-size: 19px;
}


.item-name-color a{
  text-decoration: none;
  color: inherit;
}
.item-name-color a:hover{
  /* text-decoration: none; */
  color: inherit;
}



/*=======> Mega Menu <=======*/

.nav-menu>ul>li .sub-menu {
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  margin-top: 45px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.nav-menu>ul>li .sub-menu.mega-menu {
  left: 50%;
  transform: translate(-50%);
}


.nav-menu>ul>li .sub-menu>ul>li {
  line-height: 1.3;
  list-style: none;
}

.nav-menu>ul>li .sub-menu>ul>li>a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
}

.nav-menu>ul>li .sub-menu>ul>li>a:hover {
  color: #ea4636;
}
.nav-menu>ul>li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 8px 8px 6px -4px rgb(235, 150, 150);
}
.nav-menu>ul>li .sub-menu.mega-menu-column-4 > .list-item{
  flex: 0 0 25%;
  padding: 0 15px;
}

.product-color:hover{
  color: #ea4636;
}
.list-item ul{
  padding: 0px;
}
.list-item ul li{
  list-style: none;
}
.list-item ul li a{
  text-decoration: none;
  color: #555555;
  
}
.list-item ul li a:hover{
  color: #ea4636;
}
.list-item .title{
  font-weight: bold;
	font-size: 20px;
	color:#ea4636;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.list-item img{
	max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

@media(min-width:992px){
.menu-item-has-children:hover .sub-menu {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
}

