* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
.navbar {
  background: #171c24;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  padding: 0 80px;
}
.navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1;
}
.navbar .logo span {
  color: orangered;
}

.navbar .nav-items {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.navbar .nav-items ul {
  display: flex;
}
.navbar .nav-items li {
  list-style: none;
  padding: 0 15px;
}

.navbar .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.navbar .nav-items li a:hover {
  color: #ff3d00;
}

.navbar form {
  display: flex;
  height: 34px;
  background: #1e232b;
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

.navbar form .search-data {
  height: 100%;
  width: 180px;
  padding: 0 10px;
  color: #fff;
  font-weight: 500;
  background: none;
  border: none;
  font-size: 17px;
  outline: none;
}
.navbar form button {
  background: #ff3d00;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: #fff;
  border-radius: 2px;
  padding: 0 12px;
}
.navbar form button:hover {
  background: #e63600;
}
.navbar .fa-bars {
  display: none;
}
/* ---------------- */

@media only screen and (max-width: 1024px) {
  .navbar {
    z-index: 1000;
  }
  .navbar .fa-bars {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  .navbar .nav-items {
    display: none;
  }

  .navbar form {
    position: absolute;
    right: 120px;
  }
  .navbar.active .nav-items {
    display: flex;
    flex-direction: column;

    position: absolute;
    overflow: hidden;
    top: 52px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #171c24;
  }
  .navbar.active .nav-items ul {
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar.active .nav-items ul li {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 650px) {
  .navbar {
    padding: 0 30px;
  }
  .navbar form {
    position: absolute;
    right: 70px;
  }
}
@media only screen and (max-width: 550px) {
  .navbar form {
    display: none;
  }
  .navbar .logo {
    font-size: 20px;
    margin-left: 16px;
  }

  .navbar .fa-bars {
    font-size: 20px;
  }

  .navbar.active .nav-items ul {
    margin-bottom: 50px;
  }
}
