* {
  /* margin: 0; */
  padding: 0px;
  font-family: Poppins;
}
/* <===========Shop Header Image===========> */
.header {
  margin: 0px 0px 40px 0px;
  position: relative;
  height: 50vh;
  background-image: url("../images/discount1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header .section {
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  width: 100%;
  /* margin: auto; */
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
}
.buttons{
  color: black;
  background-color: white;
}
.buttons .btn{
  text-align: center;
  margin: 10px 5px 10px 5px;
  font-size: 20px;
  padding: 2px 15px 2px 15px;
  background-color: black;
  color: white;
}
.buttons .btn:hover{
  color: black;
  background-color: white;
}
.newsletter{
  width: 100%;
}
/* <===========Shop IMAGES===========> */
/* .products {
  background-color: white;
  border: 3px solid rgb(241, 240, 234);
  border-radius: 10px;
}
.products:hover {
  box-shadow: 0 0 50px #ccc;
  transition: 0.9s;
  background-color: rgb(205, 242, 194);
}
.products .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop .fa {
  border-radius: 50%;
  background-color: rgb(241, 240, 234);
}
.shop .fa:hover {
  background-color: black;
  color: white;
  transition: 0.9s;
}
.featured-images .products img,
.new-arival .products img {
  width: 100%;
  height: 38vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(241, 240, 234);
  border-radius: 10px;
}
.products p {
  text-align: left;
  font-size: 20px;
  padding: 20px 0px 0px 2px;
  color: rgb(163, 161, 145);
}
.products h3 {
  font-weight: bold;
  color: green;
}
.price {
  font-weight: bold;
  font-size: 20px;
  color: green;
}
.rating {
  color: gold;
} */
/* <===========Neigation Buttons===========> */
.buttons {
  text-align: center;
  margin: 30px 5px 30px 5px;
}
