* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
}

/* --------------------------products--- */
* {
  margin: 0;
  padding: 0px;
  font-family: Ubuntu;
}
/* <===========CAROUSEL===========> */
.carousel-item img {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}
.carousel-item h3,
.carousel-item p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
}
/* <===========FEATURED IMAGES===========> */
.featured-images h1,
.new-arival h1 {
  padding-top: 90px;
  text-align: center;
}
.featured-images p,
.new-arival p {
  padding: 10px 5px 10px 5px;
  text-align: center;
}
.products {
  background-color: white;
  border: 3px solid rgb(241, 240, 234);
  border-radius: 10px;
}
.products:hover {
  box-shadow: 0 0 50px #ccc;
  transition: 0.9s;
  background-color: rgb(205, 242, 194);
}
.products .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop .fa {
  border-radius: 50%;
  background-color: rgb(241, 240, 234);
}
.shop .fa:hover {
  background-color: black;
  color: white;
  transition: 0.9s;
}
.featured-images .products img,
.new-arival .products img {
  width: 100%;
  height: 38vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(241, 240, 234);
  border-radius: 10px;
}
.products p {
  text-align: left;
  font-size: 20px;
  padding: 20px 0px 0px 2px;
  color: rgb(163, 161, 145);
}
.products h3 {
  font-weight: bold;
  color: green;
}
.price {
  font-weight: bold;
  font-size: 20px;
  color: green;
}
.rating {
  color: gold;
}
/* <===========DISCOUNT SECTION 1===========> */
.discount1 {
  border: 1px solid black;
  margin: 60px 0px 40px 0px;
  position: relative;
  height: 30vh;
  background-image: url("/Activewear/images/discount1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.discount1:hover {
  box-shadow: 0 0 50px #ccc;
  transition: 0.9s;
  background-color: rgb(205, 242, 194);
  opacity: 0.8;
}
.discount1 .section {
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  width: 100%;
  margin: auto;
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
}
.discount1 .section:hover {
  transition: 0.9s;
  color: rgb(0, 0, 0);
  font-size: 25px;
  background-color: rgba(226, 119, 119, 0.278);
}
.discount1 .section button {
  background-color: green;
}
.discount1 .section button:hover {
  background-color: white;
  color: green;
  transition-duration: 1s;
}

/* <===========NEW ARIVAL SECTION===========> */
.new-arival {
  margin: 10px 0px 16px 0px;
}
/* <===========BANNER SECTION===========> */
.banner img {
  width: 100%;
  height: 67vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .product {
  background-color: rgb(255, 132, 0);
  border: 3px solid rgb(241, 240, 234);
  display: flex;
}
.product:hover {
  box-shadow: 0 0 50px #ccc;
  transition: 0.9s;
  background-color: rgb(205, 242, 194);
}
.product1 {
  position: relative;
  height: 67vh;
  flex-basis: 90%;
}
.product1 img {
  flex-basis: 25%;
  background-color: orange;
}
.product .image img {
  background-color: transparent;
}
.product1 .info {
  top: 50%;
  width: 100%;
  position: absolute;
  text-align: left;
  transform: translateY(-50%);
}
.product1 .info span {
  color: rgb(61, 67, 65);
  font-weight: bold;
  font-size: 20px;
}
.product1 .info h3 {
  font-weight: bold;
}
.product1 .info p {
  text-align: left;
  font-size: 20px;
  padding: 5px 0px 2px 2px;
  font-weight: 400;
}
.product1 button:hover {
  color: green;
  background-color: white;
  transition: 0.9s;
}

/* ------------------Newsletter------------ */
.newsletter {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}
.newsletter h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.newsletter form {
  display: inline-block;
}
.newsletter input[type="email"] {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}
.newsletter button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #5900ff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsletter {
    padding: 20px;
  }

  .newsletter h2 {
    font-size: 20px;
  }

  .newsletter input[type="email"] {
    width: 200px;
    margin-right: 0;

    margin-bottom: 10px;
  }
}
